footer#colophon {
	padding-top: 4.8rem;
	padding-bottom: .78rem;
	font-size: rem-calc(14);
	line-height: 1.42857;
		
	.logo-wrap {
		margin-bottom: 3rem;	
	}
		
	ul#footer-nav {
		padding-bottom: 2rem;
		@include breakpoint(medium) {
			padding-bottom: 4.08rem;
		}
		li {
			margin-bottom: 1.08rem;
			a {
				padding: .2rem 0;
			}
		}
	}
	
	.single-location {
		margin-bottom: 1.25rem;
	}
	
	.footer-form-wrap {
		@include breakpoint(small down) {
			padding-top: 4rem;
		}
		.gform_wrapper.gravity-theme .gform_footer {
			margin: 0;
			padding: 0;
			position: relative;
			display: flex;
			align-items: center;
			&:after {
				content: '';
				display: block;
				position: absolute;
				z-index: 0;
				right: 12px;
				width: 22px;
				height: 16px;
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.9227 8.77441L0.733326 8.77442C0.328322 8.77442 1.77024e-08 8.4278 0 8.00024C-1.77024e-08 7.57267 0.328322 7.22606 0.733326 7.22606L19.0029 7.22606C18.3246 6.67151 17.5992 6.03875 16.909 5.37078C16.2079 4.69234 15.5323 3.96723 14.9766 3.24182C14.4273 2.52483 13.9623 1.76559 13.7266 1.0192C13.5986 0.613577 13.8062 0.175146 14.1904 0.039938C14.5747 -0.0952702 14.99 0.123946 15.118 0.529569C15.2735 1.02186 15.6151 1.61313 16.117 2.26814C16.6123 2.91475 17.2322 3.58315 17.9001 4.22941C19.2363 5.52252 20.721 6.6855 21.6735 7.35587C21.8827 7.50308 22.0058 7.75313 21.9998 8.01844C21.9939 8.28375 21.8596 8.52733 21.644 8.66387C20.8704 9.1539 19.5897 10.1038 18.3145 11.333C17.0341 12.5672 15.8034 14.0409 15.0782 15.5719C14.8971 15.9543 14.4566 16.1093 14.0944 15.9181C13.7321 15.7269 13.5853 15.2619 13.7664 14.8794C14.6057 13.1073 15.9824 11.4843 17.3256 10.1895C17.8673 9.66737 18.4108 9.19176 18.9227 8.77441Z' fill='%23F6F5F1'/%3E%3C/svg%3E");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				transition: transform .3s ease;

			}
		&:hover:after {
			transform: translateX(8px);
		}
			.gform_button {
				height: 100%;
				position: relative;
				z-index: 1;
				background: transparent;
				margin: 0;
				padding-right: 2.6rem;
			}
		}
		.form-text {
			padding-bottom: 0.9rem;
		}
		form {
			display: flex;
			border-radius: 35px;
			border: 1px solid $color-granite;
			overflow: hidden;
			.gform-body.gform_body {
				flex: 1;
			}
		}
		input[type="email"] {
			font-size: rem-calc(12);
			border: 0;
			background-color: $black;
			color: $color-granite;
			height: auto;
			padding: .97rem 1rem 1rem 1.7rem;
			&::placeholder {
				color: $color-granite;
				font-size: rem-calc(12);
				line-height: 1.83333%;
				opacity: .5;
			}
		}
	}
	hr {
		margin-top: 4.35rem;
		margin-bottom: 0.75rem;
	}
	ul#social-links {
		li {	
			&:not(first-child) {
				margin-left: 1.5625rem;
			}
			
		}
	}
	
}