ul#offcanvas-nav {
	padding-top: 1rem;
	padding-bottom: 1rem;
	li {
		margin: .4rem 0;
		a {
			padding: .4rem 1.6rem;
			font-size: rem-calc(16);
			color: $black;
		}
		&.current-menu-item {
			a span {
				position: relative;
				&:after {
					content: '';
					display: block;
					width: 100%;
					height: 3px;
					position: absolute;
					bottom: -0.46rem;
					background-color: $color-blue-violet;
				}
			}
		}
	}
}
header.site-header {
	transition: transform .5s ease;
	min-height: 69px;
	
	.top-bar {	
		align-items: center;
		min-height: 69px;
		.top-bar-left,
		.top-bar-right {
			flex: 1;
		}
	}
	
	#top-bar-menu {
		
		li.logo {
			@include breakpoint(medium) {

			}
			@include breakpoint(tablet) {

			}
			a {
				padding: 0;
			}			
		}
			
		#main-nav {
			align-items: center;
			>li {
				margin: 0 .3rem 0rem;
				
				> a {
					color: $black;
					padding: 1.7813rem 0.5rem;
					
					@include breakpoint(tablet) {

					}
					
				&:hover {

				}
					
				}
				
			&.current-menu-item {
				span {
					position: relative;
					&:after {
						content: '';
						display: block;
						width: 100%;
						height: 3px;
						position: absolute;
						bottom: -0.46rem;
						background-color: $color-blue-violet;
					}
				}
			}
				
			&.menu-item-has-children {
				
				ul.submenu {
					li {
						a {

							
						&:hover {

						}
							
						}
						
					}
				}
	
			}

			}
		}
		
		.menu-toggle-wrap {
			width: auto;
			flex: 0 0 auto;
			
			a#menu-toggle {
				padding: 0;
				width: 36px;
				height: 36px;
				position: relative;
				
				span {
					position: absolute;
					left: 0;
					right: 0;
					width: 36px;
					height: 4px;
					background-color: $color-blue-violet;
					transition: all .3s ease;
					
					&:nth-child(1) {
						top: 4px;
					}

					&:nth-child(2) {
						top: 16px;
					}
					
					&:nth-child(3) {
						bottom: 4px;
					}
										
				}
				
			&.clicked {
				span {
					&:nth-child(1) {
						top: 4px;
						transform: translate(0px, 12px) rotate(-45deg);
					}
			
					&:nth-child(2) {
						top: 16px;
						left: 50%;
						right: 100%;
						width: 0;
					}
					
					&:nth-child(3) {
						bottom: 4px;
						transform: translate(0px, -12px) rotate(45deg);
					}
				}				
			}
				
			}
			
		}
	
	}
	
}