button,
.button {
	cursor: pointer;
}
.has-object-fit {
	position: relative;
	overflow: hidden;
	
	img.object-fit {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		
		&.cover,
		&.contain {
			
			&.top {
				object-position: top;
			}
			
			&.of-bottom {
				object-position: bottom;
			}
			
		}
		
		&.cover {
			object-fit: cover;
		}
		
		&.contain {
			object-fit: contain;
		}
		
	}
	
}
.module-padding {
	padding-top: 3.25rem;
	padding-bottom: 3.25rem;
	@include breakpoint(medium) {
		padding-top: 7.5rem;
		padding-bottom: 7.5rem;
	}
	&.ntp {
		padding-top: 0 !important;
	}
	&.nbp {
		padding-bottom: 0 !important;
	}
}
.h-100 {
	height: 100%;	
}
.d-block {
	display: block;
}
.relative {
	position: relative;
}
.mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.black-bg {
	background-color: $black;
	color: $color-granite;
	a {
		color: $color-granite;
	}
}
.white-bg {
	background-color: $white;
}
.yellow-bg {
	background-color: $color-yellow-ochre;
}
.granite-bg {
	background-color: $color-granite;
}
.alm-btn-wrap .alm-load-more-btn,
.gform_button,
.blue-violet-gradient-bg {
	background-image: linear-gradient(39.61deg,#160058 0%,#5021D9 100%);
	background-image: linear-gradient(39.61deg, #160058, #1c006a, #21017d, #270190, #2c02a4, #3105af, #3609ba, #3b0dc5, #4013ca, #4618cf, #4b1dd4, #5021d9);
}
.grid-pattern {
	background-size: 17px 17px;
	background-position: center;
	&.white {
		background-image: linear-gradient(#fff 1px, transparent 1px), linear-gradient(90deg, #fff 1px, transparent 1px);
	}
	&.granite {
		background-image: linear-gradient($color-granite 1px, transparent 1px), linear-gradient(90deg, $color-granite 1px, transparent 1px);
	}
	&.over-image {
		opacity: .1;
	}
}
.br-12 {
	overflow: hidden;
	border-radius: $global-radius;
}
hr {
	border-color: $black;
	&.yellow {
		border-color: $color-yellow-ochre;
		border-width: 2px;
	}
	&.granite {
		border-color: $color-granite
	}
}
.nowrap {
	flex-wrap: nowrap;
}
.m-0 {
	margin: 0 !important;
}
.mb-0 {
	margin-bottom: 0 !important;
}
.overflow-hidden {
	overflow: hidden;
}