.black-bg {
	background-color: $black;
	color: $white;
	a {
		color: $white;
	}
}
.granite-bg {
	background-color: $granite;
}
.blue-violet-gradient-bg {
	background-image: linear-gradient(-39.61deg, #3304BF 47.789%, #5021D9 100%);
}