.centered-quote {
	.inner {
		padding: 3.625rem 2rem;
		@include breakpoint(medium) {
			padding: 5rem 2rem 5.5rem;
		}
	}
	.quote-text {
		font-size: rem-calc(28);
		font-weight: 200;
		line-height: 1.2;
		margin-bottom: 1.78rem;
		@include breakpoint(medium) {
			font-size: rem-calc(40);
		}
	}
	.quote-author {
		line-height: 1;
	}
}