.images-copy {
	.top-img-wrap {
		@include breakpoint(medium down) {
			margin-bottom: 2rem;
		}
	}
	.three-set {
		.tl-img {
			width: 40%;	
			margin-bottom: 1.25rem;
		}
		.tr-img {
			width: 60%;	
			margin-bottom: 1.25rem;
		}
	}
	.icon-wrap {
		margin-bottom: 1.55rem;
	}
	h6 {
		margin-bottom: 1.2rem;
	}
	h5 {
		margin-bottom: 0;
	}
	h2 {
		margin-bottom: 1.25rem;
	}
	ul {
		margin-left: 2.75rem;
	}
&.img-size-small {
	h6 {
		margin-bottom: .52rem;
	}
}
}