.news-card {
	margin-bottom: 1.25rem;
	a {
		&:hover {
			color: $black;
		}
	}
	.thumb-wrap {
		img {
			width: 100%;
		}
	}
	.text-wrap {
		flex: 1;
		padding: 1.6rem 1.38rem 2rem;
		.top {
			flex: 1;
			header.article-header {
				padding-bottom: 0.15rem;
				h6 {
					margin-bottom: 0.7rem;
				}
			}
		}	
	}
	footer.article-footer {
		padding-top: 1.08rem;
	}
}