.single-news_post {
	.news-banner {
		height: 400px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	.header-content-wrap {
		padding-top: 3.3rem;
		padding-bottom: 6.18rem;
		header.entry-header {
			margin-bottom: 2rem;
		}
	}
}